@{
    ViewBag.Title = "Home Page";
}

<h1>Hei,MVC!</h1>

<!--alla esimerkki html-koodista, jonka sisällä c#-koodia-->
<!--at-merkki aloittaa html-komennon, p=paragraph-->
@for (int i = 1; i <= 10; i++)
{
    <p>@i</p>
}
